In [7]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Load dataset
df = pd.read_csv('hotel_reservations.csv')

print("=" * 60)
print("üìä DATASET OVERVIEW")
print("=" * 60)

print(f"\n Size: {df.shape[0]} rows x {df.shape[1]} columns")

# Available columns
print("\nüìã Available columns:")
for i, col in enumerate(df.columns, 1):
    print(f"   {i}. {col}")

# Preview first rows
print("\n First 5 rows:")
display(df.head())

============================================================
üìä DATASET OVERVIEW
============================================================

 Size: 36275 rows x 19 columns

üìã Available columns:
   1. Booking_ID
   2. no_of_adults
   3. no_of_children
   4. no_of_weekend_nights
   5. no_of_week_nights
   6. type_of_meal_plan
   7. required_car_parking_space
   8. room_type_reserved
   9. lead_time
   10. arrival_year
   11. arrival_month
   12. arrival_date
   13. market_segment_type
   14. repeated_guest
   15. no_of_previous_cancellations
   16. no_of_previous_bookings_not_canceled
   17. avg_price_per_room
   18. no_of_special_requests
   19. booking_status

 First 5 rows:

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [8]:
print("=" * 60)
print("üìã COLUMN INFORMATION")
print("=" * 60)

# Data type of each column
print("\nüîç Data types:")
print(df.dtypes)

# Check for missing values (NaN)
print("\n‚ùì Missing values per column:")
print(df.isnull().sum())

# Basic statistics for numerical columns
print("\nüìä Numerical statistics:")
display(df.describe())

============================================================
üìã COLUMN INFORMATION
============================================================

üîç Data types:
Booking_ID                               object
no_of_adults                              int64
no_of_children                            int64
no_of_weekend_nights                      int64
no_of_week_nights                         int64
type_of_meal_plan                        object
required_car_parking_space                int64
room_type_reserved                       object
lead_time                                 int64
arrival_year                              int64
arrival_month                             int64
arrival_date                              int64
market_segment_type                      object
repeated_guest                            int64
no_of_previous_cancellations              int64
no_of_previous_bookings_not_canceled      int64
avg_price_per_room                      float64
no_of_special_requests                    int64
booking_status                           object
dtype: object

‚ùì Missing values per column:
Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

üìä Numerical statistics:

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000
mean,1.844962,0.105279,0.810724,2.204300,0.030986,85.232557,2017.820427,7.423653,15.596995,0.025637,0.023349,0.153411,103.423539,0.619655
std,0.518715,0.402648,0.870644,1.410905,0.173281,85.930817,0.383836,3.069894,8.740447,0.158053,0.368331,1.754171,35.089424,0.786236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,2018.000000,5.000000,8.000000,0.000000,0.000000,0.000000,80.300000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,2018.000000,8.000000,16.000000,0.000000,0.000000,0.000000,99.450000,0.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,2018.000000,10.000000,23.000000,0.000000,0.000000,0.000000,120.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,2018.000000,12.000000,31.000000,1.000000,13.000000,58.000000,540.000000,5.000000

In [9]:
# Check unique values for key categorical columns
print("=" * 60)
print("üîç UNIQUE VALUES OF KEY COLUMNS")
print("=" * 60)

# Meal plan type
print("\nüçΩÔ∏è Meal plan types:")
print(df['type_of_meal_plan'].value_counts())

# Room type
print("\nüõèÔ∏è Room types:")
print(df['room_type_reserved'].value_counts())

# Market segment
print("\nüìä Market segments:")
print(df['market_segment_type'].value_counts())

# Booking status
print("\n‚úÖ Booking status:")
print(df['booking_status'].value_counts())

============================================================
üîç UNIQUE VALUES OF KEY COLUMNS
============================================================

üçΩÔ∏è Meal plan types:
type_of_meal_plan
Meal Plan 1     27835
Not Selected     5130
Meal Plan 2      3305
Meal Plan 3         5
Name: count, dtype: int64

üõèÔ∏è Room types:
room_type_reserved
Room_Type 1    28130
Room_Type 4     6057
Room_Type 6      966
Room_Type 2      692
Room_Type 5      265
Room_Type 7      158
Room_Type 3        7
Name: count, dtype: int64

üìä Market segments:
market_segment_type
Online           23214
Offline          10528
Corporate         2017
Complementary      391
Aviation           125
Name: count, dtype: int64

‚úÖ Booking status:
booking_status
Not_Canceled    24390
Canceled        11885
Name: count, dtype: int64

In [10]:
# ================================================
# DATA CLEANING & FEATURE ENGINEERING
# ================================================

print("=" * 60)
print("STARTING DATA CLEANING")
print("=" * 60)

print(f"\nüìä Original dataset: {len(df)} rows")

# 1. Remove invalid bookings (0 adults)

df_clean = df[df['no_of_adults'] > 0].copy()
print(f"\n‚úÖ After removing 0 adults: {len(df_clean)} rows")
print(f"Removed: {len(df) - len(df_clean)} rows")

# 2. Remove bookings with 0 nights

df_clean = df_clean[
    (df_clean['no_of_weekend_nights'] > 0) |
    (df_clean['no_of_week_nights'] > 0)
].copy()

print(f"\nAfter removing 0 nights: {len(df_clean)} rows")
print(f"Removed: {len(df) - len(df_clean)} rows")

# 3. Create useful columns

# Total nights stayed
df_clean['total_nights'] = (
    df_clean['no_of_weekend_nights'] +
    df_clean['no_of_week_nights']
)

# Total revenue (price per room * nights)
df_clean['total_revenue'] = (
    df_clean['avg_price_per_room'] *
    df_clean['total_nights']
)

# Total guests
df_clean['total_guest'] = (
    df_clean['no_of_adults'] +
    df_clean['no_of_children']
)

# Revenue per guest
df_clean['revenue_per_guest'] = (
    df_clean['total_revenue'] /
    df_clean['total_guest']
)


print(f"\n‚úÖ Created 4 new columns:")
print(f"   - total_nights")
print(f"   - total_revenue")
print(f"   - total_guests")
print(f"   - revenue_per_guest")

# 4. Check final dataset

print(f"\nüìä Final dataset: {len(df_clean)} rows x {len(df_clean.columns)} columns")

# Show sample with new columns
print(f"\n Sample with new columns:")

sample_cols = [
    'Booking_ID', 
    'no_of_adults', 
    'total_nights', 
    'avg_price_per_room',
    'total_revenue',
    'booking_status',
    'total_guest',
    'revenue_per_guest'
]

display(df_clean[sample_cols].head(3))

============================================================
STARTING DATA CLEANING
============================================================

üìä Original dataset: 36275 rows

‚úÖ After removing 0 adults: 36136 rows
Removed: 139 rows

After removing 0 nights: 36058 rows
Removed: 217 rows

‚úÖ Created 4 new columns:
   - total_nights
   - total_revenue
   - total_guests
   - revenue_per_guest

üìä Final dataset: 36058 rows x 23 columns

 Sample with new columns:

,Booking_ID,no_of_adults,total_nights,avg_price_per_room,total_revenue,booking_status,total_guest,revenue_per_guest
0,INN00001,2,3,65.00,195.0,Not_Canceled,2,97.5
1,INN00002,2,5,106.68,533.4,Not_Canceled,2,266.7
2,INN00003,1,3,60.00,180.0,Canceled,1,180.0

In [11]:
# ================================================
# CALCULATE KEY PERFORMANCE INDICATORS (KPIs)
# ================================================

"""
HOTEL REVENUE MANAGEMENT KPIs - INDUSTRY BENCHMARKS

ADR (Average Daily Rate):
    - Budget Hotels: $50-80
    - Mid-Range Hotels: $80-150
    - Upscale Hotels: $150-300
    - Luxury Hotels: $300+

Cancellation Rate:
    - Excellent: < 15%
    - Good: 15-25%
    - Average: 25-35%
    - Poor: > 35% (requires investigation)

Average Length of Stay (ALOS):
    - Business Hotels: 1-2 nights
    - City Hotels: 2-3 nights
    - Resort Hotels: 4-7 nights
    - Extended Stay: 7+ nights

Repeat Guest Rate:
    - Excellent: > 30%
    - Good: 20-30%
    - Average: 10-20%
    - Poor: < 10%

Lead Time (Booking Window):
    - Last Minute: < 7 days
    - Short Notice: 7-30 days
    - Standard: 30-90 days
    - Early Booking: > 90 days

RevPAR (Revenue Per Available Room):
    - Budget: $30-60
    - Mid-Range: $60-120
    - Upscale: $120-250
    - Luxury: $250+
    
Note:  
   RevPAR (Revenue Per Available Room) cannot be calculated
   because this dataset does not include:
   - Total available rooms in the hotel
   - Actual occupancy rate
   
   Alternative metric used: Revenue per Night Sold
   This measures efficiency of sold inventory rather than
   total available inventory.
"""

print("=" * 60)
print("üìä KEY PERFORMANCE INDICATORS (KPIs)")
print("=" * 60)

# 1. Overall Revenue Metrics

total_bookings = len(df_clean)
confirmed_bookings = len(df_clean[df_clean['booking_status'] == 'Not_Canceled'])
canceled_bookings = len(df_clean[df['booking_status'] == 'Canceled'])

""" Only use confirmed bookings for revenue """
df_confirmed = df_clean[df_clean['booking_status'] == 'Not_Canceled'].copy()

total_revenue = df_confirmed['total_revenue'].sum()
adr = df_confirmed['avg_price_per_room'].mean()
total_room_nights = df_confirmed['total_nights'].sum()

print(f"\n --- REVENUE METRICS:")
print(f"      Total Revenue: {total_revenue:,.2f}")
print(f"      Average Daily Rate (ADR): ${adr:,.2f}")
print(f"      Total Room Nights Sold: {total_room_nights:,}")

# ADR Benchmark classification
if adr < 80:
    adr_category = "Budget"
elif adr < 150:
    adr_category = "Mid-Range"
elif adr < 300:
    adr_category = "Upscale"
else:
    adr_category = "Luxury"
print(f"      ADR Category: {adr_category}")

# 2. Booking Performance

cancellation_rate = (canceled_bookings / total_bookings) * 100

print(f"\n --- BOOKING PERFORMANCE:")
print(f"      Total Bookings: {total_bookings}")
print(f"      Confirmed: {confirmed_bookings}")
print(f"      Canceled: {canceled_bookings}")
print(f"      Cancelation Rate: {cancellation_rate:.1f}%")

# Cancellation rate benchmark
if cancellation_rate < 15:
    cancel_rating = "Excellent"
elif cancellation_rate < 25:
    cancel_rating = "Good"
elif cancellation_rate < 35:
    cancel_rating = "Average ‚ö†Ô∏è"
else:
    cancel_rating = "Poor  (Requires Investigation)"
print(f"      Performance: {cancel_rating}")

# 3. Guest Metrics

avg_length_of_stay = df_confirmed['total_nights'].mean()
avg_guests_per_booking = df_confirmed['total_guest'].mean()
repeat_guest_rate = (df_confirmed['repeated_guest'].sum() / len(df_confirmed)) * 100

print(f"\n --- GUEST METRICS:")
print(f"      Average Length of Stay: {avg_length_of_stay:.1f}")
print(f"      Average Guests per Booking: {avg_guests_per_booking:.1f}")
print(f"      Repeat Guest Rate: {repeat_guest_rate:.1f}%")

# ALOS hotel type classification
if avg_length_of_stay < 2:
    hotel_type = "Business Hotel"
elif avg_length_of_stay < 4:
    hotel_type = "City Hotel"
elif avg_length_of_stay < 7:
    hotel_type = "Resort Hotel"
else:
    hotel_type = "Extended Stay"
print(f"      Hotel Type (by ALOS): {hotel_type}")

# Repeat guest benchmark
if repeat_guest_rate > 30:
    repeat_rating = "Excellent"
elif repeat_guest_rate > 20:
    repeat_rating = "Good"
elif repeat_guest_rate > 10:
    repeat_rating = "Average ‚ö†Ô∏è"
else:
    repeat_rating = "Poor ‚ùå"
print(f"      Loyalty Performance: {repeat_rating}")

# 4. Advanced Metrics

avg_lead_time = df_confirmed['lead_time'].mean()
revenue_per_available_night = total_revenue / total_room_nights

print(f"\n --- ADVANCED METRICS:")
print(f"      Average Lead Time: {avg_lead_time:.0f} days")
print(f"      Revenue per Night Sold: ${revenue_per_available_night:.2f}")

# Lead time classification
if avg_lead_time < 7:
    booking_pattern = "Last Minute"
elif avg_lead_time < 30:
    booking_pattern = "Short Notice"
elif avg_lead_time < 90:
    booking_pattern = "Standard Planning"
else:
    booking_pattern = "Early Booking"
print(f"      Booking Pattern: {booking_pattern}")

============================================================
üìä KEY PERFORMANCE INDICATORS (KPIs)
============================================================

 --- REVENUE METRICS:
      Total Revenue: 7,028,557.32
      Average Daily Rate (ADR): $100.33
      Total Room Nights Sold: 70,102
      ADR Category: Mid-Range

 --- BOOKING PERFORMANCE:
      Total Bookings: 36058
      Confirmed: 24219
      Canceled: 11839
      Cancelation Rate: 32.8%
      Performance: Average ‚ö†Ô∏è

 --- GUEST METRICS:
      Average Length of Stay: 2.9
      Average Guests per Booking: 1.9
      Repeat Guest Rate: 3.8%
      Hotel Type (by ALOS): City Hotel
      Loyalty Performance: Poor ‚ùå

 --- ADVANCED METRICS:
      Average Lead Time: 59 days
      Revenue per Night Sold: $100.26
      Booking Pattern: Standard Planning

In [12]:
# ================================================
# EXPORT CLEANED DATA FOR SQL IMPORT
# ================================================

print("=" * 60)
print("üíæ EXPORTING CLEANED DATA")
print("=" * 60)

# Save cleaned dataset
output_path = '../data/hotel_reservations_clean.csv'
df_clean.to_csv(output_path, index=False)

print(f"\n‚úÖ Cleaned data saved to: {output_path}")
print(f"   Total rows: {len(df_clean):,}")
print(f"   Total columns: {len(df_clean.columns)}")

# Show columns that will be imported to SQL
print(f"\nüìã Columns to import:")
for i, col in enumerate(df_clean.columns, 1):
    dtype = df_clean[col].dtype
    print(f"   {i:2d}. {col:30s} ({dtype})")

============================================================
üíæ EXPORTING CLEANED DATA
============================================================

‚úÖ Cleaned data saved to: ../data/hotel_reservations_clean.csv
   Total rows: 36,058
   Total columns: 23

üìã Columns to import:
    1. Booking_ID                     (object)
    2. no_of_adults                   (int64)
    3. no_of_children                 (int64)
    4. no_of_weekend_nights           (int64)
    5. no_of_week_nights              (int64)
    6. type_of_meal_plan              (object)
    7. required_car_parking_space     (int64)
    8. room_type_reserved             (object)
    9. lead_time                      (int64)
   10. arrival_year                   (int64)
   11. arrival_month                  (int64)
   12. arrival_date                   (int64)
   13. market_segment_type            (object)
   14. repeated_guest                 (int64)
   15. no_of_previous_cancellations   (int64)
   16. no_of_previous_bookings_not_canceled (int64)
   17. avg_price_per_room             (float64)
   18. no_of_special_requests         (int64)
   19. booking_status                 (object)
   20. total_nights                   (int64)
   21. total_revenue                  (float64)
   22. total_guest                    (int64)
   23. revenue_per_guest              (float64)

In [13]:
# ================================================
# IMPORT DATA TO MYSQL
# ================================================

from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

print("=" * 60)
print("üì§ IMPORTING DATA TO MYSQL")
print("=" * 60)

# Create connection to MySQL
# IMPORTANT: Replace 'YOUR_PASSWORD' with your MySQL password!
engine = create_engine('mysql+mysqlconnector://root:Tchaidevelopper1@localhost/hotel_revenue')

print("\nüîó Connecting to MySQL...")

# Import main table
table_name = 'reservations'
df_clean.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"‚úÖ Table '{table_name}' created successfully!")
print(f"   Rows imported: {len(df_clean):,}")

# Verify import
verify_query = f"SELECT COUNT(*) as total FROM {table_name}"
result = pd.read_sql(verify_query, engine)

print(f"\n‚úÖ Verification:")
print(f"   Rows in MySQL: {result['total'].iloc[0]:,}")

# Show sample
sample_query = f"SELECT * FROM {table_name} LIMIT 3"
sample = pd.read_sql(sample_query, engine)

print(f"\nüëÄ Sample from MySQL:")
display(sample[['Booking_ID', 'total_nights', 'avg_price_per_room', 'total_revenue', 'booking_status']].head(3))

print("\nüéâ Data import completed!")

============================================================
üì§ IMPORTING DATA TO MYSQL
============================================================

üîó Connecting to MySQL...
‚úÖ Table 'reservations' created successfully!
   Rows imported: 36,058

‚úÖ Verification:
   Rows in MySQL: 36,058

üëÄ Sample from MySQL:

  Booking_ID  total_nights  avg_price_per_room  total_revenue booking_status
0   INN00001             3               65.00          195.0   Not_Canceled
1   INN00002             5              106.68          533.4   Not_Canceled
2   INN00003             3               60.00          180.0       Canceled

üéâ Data import completed!